body {
  margin: 0;
  background-color: #f1f5f9;
}
nav {
  background-color: lightslategray;
  font-size: 2rem;
  padding: 2px;
  box-shadow: 23px;
  box-shadow: 1px 4px 12px rgb(99, 92, 92);
}
ul {
  padding: 3px;
  margin: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
li {
  list-style-type: none;
  padding: 0 26px;
}
a {
  text-decoration: none;
}
main {
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main h3 {
  font-size: 3rem;
  border-radius: 12px;
  padding: 12px;
  background-color: rgb(12, 31, 31);
  color: white;
}
main .btn {
  background-color: transparent;
  font-size: 1.8rem;
  border: 1px solid black;
  border-radius: 6px;
  padding: 12px 23px;
  cursor: pointer;
}
main .btn:hover {
  background-color: rgb(29, 29, 29);
  color: rgb(228, 211, 211);
  transition: background-color 0.8s;
  transition: color 0.8s;
}
