body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(46, 42, 42);
  color: whitesmoke;
}
.header {
  height: 40vh;
  display: flex;
  justify-content: space-between;
}
.again {
  margin: 23px;
  border-radius: 9px;
  border: white;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  height: 12vh;
  width: auto;
  padding: 12px;
  font-size: 1.5em;
}
.between {
  margin: 27px;
  font-size: 1.5em;
}
.guess {
  font-size: 1.5em;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.numberH {
  font-size: 1.9em;
  border: 3px solid white;
  padding: 12px 28px;
  color: black;
  background-color: white;
}

/* ////////////////// */
main {
  margin: 5vw;
  display: flex;
  justify-content: space-around;
}
.left {
  display: flex;
  flex-direction: column;
  gap: 23px;
}
.number {
  font-size: 4vw;
  text-align: center;
  border: 2px solid white;
  color: rgb(255, 255, 255);
  background-color: transparent;
  width: 12vw;
  height: 78px;
}
.check {
  width: 8vw;
  margin: auto;
  padding: 12px;
  font-size: 23px;
  height: 8vh;
}
